	<!-- Header -->

	<app-header></app-header>

	<!-- Menu -->

	<app-small-menu></app-small-menu>

	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(images/categories.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">Smart Phones<span>.</span></div>
								<div class="home_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Product Sorting -->
					<div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
						<div class="results">Showing <span>12</span> results</div>
						<div class="sorting_container ml-md-auto">
							<div class="sorting">
								<ul class="item_sorting">
									<li>
										<span class="sorting_text">Sort by</span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">

					<div class="product_grid">

						<!-- Product -->
						<app-product-list-item
              *ngFor="let product of products"
              [product]="product"
              class="product">
            </app-product-list-item>

					</div>

          <mat-paginator [hidden]="!products"
            (page)="getData($event)"
            [pageSize]="12"
            [pageSizeOptions]="[12, 24, 48]"
            showFirstLastButtons>
          </mat-paginator>

				</div>
			</div>
		</div>
	</div>

	<!-- Icon Boxes -->

	<app-home-icon-boxes></app-home-icon-boxes>

	<!-- Newsletter -->

	<app-home-newsletter></app-home-newsletter>

	<!-- Footer -->

	<app-footer></app-footer>
