<!-- Header -->

<app-header></app-header>

<!-- Menu -->

<app-small-menu></app-small-menu>

<!-- Home -->

<app-home-slider></app-home-slider>

<!-- Ads -->

<app-home-ads></app-home-ads>

<!-- Products -->

<div class="products">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="product_grid">

          <!-- Product -->
          <app-product-list-item
            *ngFor="let product of products"
            [product]="product"
            class="product">
          </app-product-list-item>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Ad -->

<div class="avds_xl">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="avds_xl_container clearfix">
          <div class="avds_xl_background" style="background-image:url(assets/images/avds_xl.jpg)"></div>
          <div class="avds_xl_content">
            <div class="avds_title">Amazing Devices</div>
            <div class="avds_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.</div>
            <div class="avds_link avds_xl_link"><a href="categories.html">See More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Icon Boxes -->

<app-home-icon-boxes></app-home-icon-boxes>

<!-- Newsletter -->

<app-home-newsletter></app-home-newsletter>

<!-- Footer -->

<app-footer></app-footer>
