	<!-- Header -->

	<app-header></app-header>

	<!-- Menu -->

  <app-small-menu></app-small-menu>

  <!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url(images/categories.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">Smart Phones<span>.</span></div>
								<div class="home_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Product Details -->

	<div *ngIf="product"  class="product_details">
		<div class="container">
			<div class="row details_row">

				<!-- Product Image -->
				<div class="col-lg-6">
          <div class="details_image">
            <div class="details_image_large">
              <img [src]="product.photoUrls[0]" alt="">
              <div class="product_extra product_new">
                <a href="categories.html">New</a>
              </div>
            </div>

            <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
              <div *ngFor="let photoUrl of product.photoUrls; let first = first;"
                class="details_image_thumbnail"
                [class.active]="first===true"
                [attr.data-image]="photoUrl">
                <img [src]="photoUrl">
              </div>
            </div>
          </div>
        </div>

				<!-- Product Content -->
				<div class="col-lg-6">
          <div class="details_content">
            <div class="details_name">{{ product.name }}</div>
            <div *ngIf="product.discount > 0"
              class="details_discount">${{ product.price }}</div>
            <div class="details_price">${{ getPrice() }}</div>

            <!-- In Stock -->
            <div class="in_stock_container">
              <div class="availability">Availability:</div>
              <span *ngIf="product.stockCount == 0">Sold out</span>
              <span *ngIf="product.stockCount > 0">
                In Stock ({{ product.stockCount }})
              </span>
            </div>
            <div class="details_text"
              [innerHTML]="product.description">
            </div>

            <!-- Product Quantity -->
            <div *ngIf="product.stockCount > 0"
              class="product_quantity_container">
              <div class="product_quantity clearfix">
                <span>Qty</span>
                <input id="quantity_input"
                    class="quantity_input"
                    type="number"
                    [value]="1"
                    min="1"
                    [max]="product.stockCount">
              </div>
              <div class="button cart_button">
                <a (click)="addCart()">Add to cart</a>
              </div>
            </div>

            <!-- Share -->
            <div class="details_share">
              <span>Share:</span>
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>

                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
				</div>
			</div>

			<div class="row description_row">
				<div class="col">
					<div class="description_title_container">
						<div class="description_title">Description</div>
						<div class="reviews_title">
              <a href="#">Reviews <span>(1)</span></a>
            </div>
					</div>
					<div class="description_text"
            [innerHTML]="product.description">
          </div>
				</div>
			</div>
		</div>
	</div>

  <!-- Newsletter -->

	<app-home-newsletter></app-home-newsletter>

  <app-footer></app-footer>
